@charset "utf-8";

body {
    background-color: #598005;
}
#wrapper
{
    height:630px;
    width:400px;
    margin: 0 auto;	
    position:relative;
    overflow: hidden;
    background-color: antiquewhite;
}
	
.normalRectangle
{
    height:10px;
    width:50px;
    background-color:black;
    position:absolute;
    margin-right:5px;
    border-radius: 10px;
    top:0px;
    left:0px;
    z-index: 5;
}
.breakRectangle
{
    height:10px;
    width:50px;
    background-color:red;
    position:absolute;
    margin-right:5px;
    border-radius: 10px;
    top:0px;
    left:0px;
    z-index: 5;
}

.springRectangle
{
    height:10px;
    width:50px;
    background-color:aqua;
    position:absolute;
    margin-right:5px;
    border-radius: 10px;
    top:0px;
    left:0px;
    z-index: 5;
}
.player
{
    height:60px;
    width:50px; 
    background-color: transparent;
    position: absolute;
    border-radius: 10px;
    top:0px;
    left:0px;
    z-index: 10;
    background-image:url('../images/minionsSprites4.png');
  background-position:0px 0px;
    /*background-image:*/ 
    /*background-image: url(../images/Evil_minion1.png);*/
}
 

.bullet
{
    height: 40px;
    width: 10px;
    background-image:url('../images/bulletImage.png');
    /*background-color: blueviolet;*/
    position: absolute;
    z-index: 7;
    
}

.opponent
{
    height:60px;
    width:50px; 
    background-color: transparent;
    position: absolute;
    border-radius: 10px;
    background-image:url('../images/minionsSprites4.png');
    background-position:-102px 0px;
    z-index: 8;
}


/*for menu screen*/

                   
#score {
    position: absolute;
    top:0px;
    left: 139px;
    z-index: 100;
    font-size: 30px;
    
}
#menuscreen {
    background-color: brown;
    height:630px;
    width:400px;
    margin: 0 auto;	
    background-repeat: no-repeat;   
    background-position: top;
    left: 483px;
    
    position: absolute;
    z-index: 14;
    
    border: 5px #f2420e double;
}
.logo {
    position: absolute;
    left: 100px;
    top: 100px;
}
.menu img {
    border-width: 0px;
}
.playbtn {
    background-image: url('../Images/play.png');
   
    height: 104px;
    width: 400px;
    background-repeat: no-repeat;
    margin-top: 300px;
    
    border-width: 0px;
    border: none;
     
}

.highscorediv {
    font: 30px sans-serif;
    color: darkgoldenrod;
    
      margin-top: 30px;
    margin-left: 200px;
    
}
.ScoreDiv {
    font: 30px sans-serif;
    color: rgb(228, 255, 0);
    margin-top: 10px;
    margin-left: 20px;
    
}


/*for menu screen*/