@charset "utf-8";

#wrapper
{
    height:630px;
    width:400px;
    margin: 0 auto;	
    position:relative;
    overflow: hidden;
    background-color: antiquewhite;
}
	
.normalRectangle
{
    height:10px;
    width:50px;
    background-color:black;
    position:absolute;
    margin-right:5px;
    border-radius: 10px;
    top:0px;
    left:0px;
    z-index: 5;
}
.breakRectangle
{
    height:10px;
    width:50px;
    background-color:red;
    position:absolute;
    margin-right:5px;
    border-radius: 10px;
    top:0px;
    left:0px;
    z-index: 5;
}

.springRectangle
{
    height:10px;
    width:50px;
    background-color:aqua;
    position:absolute;
    margin-right:5px;
    border-radius: 10px;
    top:0px;
    left:0px;
    z-index: 5;
}
.player
{
    height:60px;
    width:50px; 
    background-color: transparent;
    position: absolute;
    border-radius: 10px;
    top:0px;
    left:0px;
    z-index: 10;
    background-image:url('../images/minionsSprites4.png');
  background-position:0px 0px;
    /*background-image:*/ 
    /*background-image: url(../images/Evil_minion1.png);*/
}
 

.bullet
{
    height: 40px;
    width: 10px;
    background-image:url('../images/bulletImage.png');
    /*background-color: blueviolet;*/
    position: absolute;
    z-index: 7;
    
}

.opponent
{
    height:60px;
    width:50px; 
    background-color: transparent;
    position: absolute;
    border-radius: 10px;
    background-image:url('../images/minionsSprites4.png');
    background-position:-102px 0px;
    z-index: 8;
}